.Small-CardDiv
{  
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
  padding-left: 100px;
  background-color: rgb(255, 255, 255);
}

 #Small-NotesCardInner
{
/* position: relative; */
width: 25%;
height: auto;
margin-top: 2%;
background-color:rgb(255, 255, 255);
}

#Small-NotesCardInner1
{
/* position: relative; */
width: 24%;
height: 70%;
margin-top: 2%;
background-color:rgb(255, 255, 255);
z-index: 4000;
}

.Small-NotesTitleAndDesc
{ 
    width: 100%;
    margin-top: 2%;
    margin-left: 1%;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
#titleId
{
    border: none;
    outline: none;
    top: 0%;
    width: 100%;
}
#DescriptionId
{
    border: none;
    outline: none;
    width: 100%;
}
.Small-closeButton
{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#CardIdAllNotes
{
  width: 90%;
  min-height: 40%;
}



/* #UpdateCard
{
    width: 90%;
    min-height: 40%;
}

.Update-NotesTitleAndDesc
{
    width: 100%;
    margin-top: 2%;
    margin-left: 1%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

#UpdateNotetitleId
{
    border: none;
    outline: none;
    top: 0%;
    width: 87%;
}

#UpdateNoteDescriptionId
{
    border: none;
    outline: none;
    width: 87%;

}

.Update-Notes
{
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#Update-UpdateNotesCardInner
{
width: 100%;
height: auto;
margin-top: 2%;
background-color:rgb(255, 255, 255);
box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 3px rgba(0,0,0,0.14), 0px 1px 1px 1px rgba(0,0,0,0.12) !important
}

.MuiBackdrop-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: -1;
    position: fixed;
    align-items: center;
    touch-action: none;
    justify-content: center;
    background-color: transperent rgba(0, 0, 0, 0.5) !important;
} */

