.displayAllNotesDiv
{
  left: 30%;
  color: rgb(27, 24, 24);
}
#span-id-label
{
  width: 250px;
  height: 40px;

}
#span-id-label
{ 
    text-transform: capitalize;
}

#DeleteIcon
{
  margin-top: 15px;
}