.div-log
{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 30%;
    text-align: center;
    border:1px solid#d3d3d3 !important ;
    border-radius: 8px;
   padding-top: 15px;

}
#text-log-in
{
  position: relative;
  width: 250px;
  height: 12px;
  position: relative;
  display: flex;
}

h2{
  font: italic bold 30px Georgia, serif;
  color: dodgerblue;
}

h5{
  font: italic 20px Georgia, serif;
  margin-top: 10px;
}
.h-div-log-in
{
  margin-bottom: 10px;
}


.div-log-forget
{
 margin-left: 70px;
 
}
#label-item
{
  font: 15;
}

.button
{
    position: absolute;
    height: 22%;
    background-color: rgb(254, 255, 255);
    max-width: 100%;
}
#buttonSignIn
{
   
    text-transform: capitalize;
}

#ForgotId
{
  
    text-transform: capitalize;
}

#buttonSignIn:hover
{
    background-color: rgb(144, 146, 141);
}
#ForgotId:hover
{
    background-color: rgb(144, 146, 141);
}
@media (max-width:950px)
{
  #text-log-in{
    width: 100px;
    height: 15px;
  }
}

